<div>
    <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back</a>
    <div class="col-md-6 col-xs-8">
        <h1>The World {{ vm.name }}</h1>
        <p>This is a paragraph</p>
        <form>
            <div class="form form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success">
            </div>
        </form>
    </div>
    <div class="col-md-6 col-xs-4">
        <h2>The Map</h2>
    </div>
</div>